body {
font-family: arial;
font-size: 11pt;
}

.header1 {
text-align: center;
//background: #DFDFDF;
}

.header2 {
font-weight: bold;
background: #DFDFDF;
}

a {
color: gray;
}


.element {
font-family: monospace;
background: #DFDFDF;
}

.element1 {
font-family: arial;
font-size: 10pt;
background: #DFDFDF;
}

.element3 {
font-family: arial;
text-align: center;
font-style: italic;
font-size: 10pt;
background: #DFDFDF;
}

.meaning {
font-weight: bold;
background: #DFDFDF;
}

.key {
font-size: 20pt;
font-weight: bold;
background: #DFDFDF;
}