*.class
*.jar
*.war
*.ear
build/
hs_err_pid*
/bin/
.idea
*.iml
**/target
bcomp-ui/.idea/
*.log

/src/main/webapp/WEB-INF/classes/.netbeans_automatic_build
/src/main/webapp/WEB-INF/classes/src/
/src/main/webapp/WEB-INF/classes/

nb-configuration.xml
